body{
    display: flex;
    min-height: 100vh;
    background-color: $page-color;
    font-family: Helvetica,"Malgun Gothic","Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
    font-size: $font-size-base;
    line-height: 1;
    color: $light-black;
    align-items: center;
    justify-content: center;
}

.main > article,
main > section{
    @include size($screen-size);
    @include margin(0 auto);
    @include padding(25px);
    @include box-sizing(border-box);
    background: $white;
}

h1{
    font-weight: bold;
    font-size: $font-size-base * 2.5;
}

h2{
    font-weight: bold;
    font-size: $font-size-base * 1.5;
}

.hidden{
    display: none;
}
