body{
    background-color: $bg-color-white;
    font-family: Helvetica,"Malgun Gothic","Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
    font-size: 18px;
    line-height: 1;
    color: $light-black;
}

.hidden{
    display: none;
}
