@import '../helpers/_variables';
@import '../helpers/_extends';
@import '../helpers/_mixins';

.main{
    @include size(width 100% min $screen-size);
}

.container{
    @include size($screen-size);
    @include margin(0 auto);
    @include padding(25px 0);
    overflow: hidden;
}

.ranking-area{
    @include size(750px);
    float: left;
    overflow: hidden;
}

.notice-area{
    @include size(400px);
    float: right;
}
