%reset-button{
    padding: 0;
    border: 0;
    background: none;
}

%reset-link{
    text-decoration: none;
}

%reset-hover{
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}
