// color
$page-color: #4195f5;
$bg-color-white: #f5f5f5;
$bg-color-black: #262b2e;
$white: #ffffff;
$light-black: #333333;
$border-color-base: #d8d8d8;

// font - size
$font-size-base: 24px;

// screen
$screen-size: 1200px;
